# Results

In [ ]:
from pathlib import Path
import pandas as pd
from src.helpers.metrics import  build_metrics_table

In [5]:
data_name = "DS03"
degmodel_name = 'normal'
filtered_data = True
pfnet_dir_name = 'net256x256x128x64x32leaky0.05'

filtered_text = "_filtered" if filtered_data else ""
experiment_dir = Path('experiments')/data_name
pfnet_dir = experiment_dir/f'degradation{filtered_text}'/degmodel_name/'pf_performs'/pfnet_dir_name

## Load Predictions

In [6]:
df_preds = pd.read_csv(pfnet_dir / "rul_test_predictions.csv")

## Degradation Predictions

In [7]:
hi_df = pd.read_csv(experiment_dir/f'hidata_test{filtered_text}.csv')
test_units = hi_df['unit'].astype(int).unique().tolist()
onsets = {unit: hi_df[(hi_df['unit']==unit) & (hi_df['hs']==0)]['cycle'].values[0] for unit in test_units}
df_degpreds = df_preds[
    df_preds["time"] > df_preds["unit"].map(onsets)
]

## Metrics

In [8]:
metrics_df = build_metrics_table(df_preds)
metrics_df

   unit       RMSE       Score      PICP     PINAW
0    10   4.148610   26.486213  1.000000  0.526143
1    11  10.134115   95.753298  1.000000  0.580754
2    12  16.178996  234.326235  0.869565  0.362186
3    13   4.957573   28.755976  0.947368  0.409696
4    14   2.595078   14.920335  1.000000  0.455572
5    15   4.693854   31.710673  1.000000  0.518553

In [9]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      7.118038
Score    71.992122
PICP      0.969489
PINAW     0.475484
dtype: float64

In [10]:
metrics_df = build_metrics_table(df_degpreds)
metrics_df

   unit      RMSE      Score      PICP     PINAW
0    10  2.707654  10.261352  1.000000  0.580905
1    11  5.613199  23.071239  1.000000  0.627379
2    12  9.944914  58.276364  0.982143  0.369588
3    13  5.623054  26.971031  0.931034  0.423421
4    14  2.008384   7.260777  1.000000  0.451590
5    15  2.994997   8.996193  1.000000  0.552998

In [14]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      4.815367
Score    22.472826
PICP      0.985530
PINAW     0.500980
dtype: float64