# Results

In [15]:
from pathlib import Path
import pandas as pd
from src.helpers.metrics import  build_metrics_table

from experiment_config import DegModel,DATA_NAME,PFNET_NAME,ESTIMATION_NAME,PRED_STAT

In [16]:
estimation_dir = Path('experiments')/DATA_NAME/ESTIMATION_NAME
pred_dir = estimation_dir/DegModel.name()/'pf_performs'/PFNET_NAME/f"pred_{PRED_STAT}"

## Load Predictions

In [17]:
df_preds = pd.read_csv(pred_dir / "rul_test_predictions.csv")

## Full-life Predictions

In [18]:
metrics_df = build_metrics_table(df_preds)
metrics_df

   unit       RMSE       Score      PICP     PINAW
0    10   7.118600   62.346664  0.984848  0.456722
1    11  11.329123  122.468850  0.864407  0.465868
2    12  13.570993  165.717533  0.688172  0.272082
3    13   4.997954   28.481744  0.987013  0.347799
4    14   4.893853   30.000322  1.000000  0.390197
5    15   3.837367   20.934668  1.000000  0.418233

In [19]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      7.624648
Score    71.658297
PICP      0.920740
PINAW     0.391817
dtype: float64

## Degradation Predictions

In [20]:
hi_df = pd.read_csv(estimation_dir/'data_test.csv')
test_units = hi_df['unit'].astype(int).unique().tolist()
onsets = {unit: hi_df[(hi_df['unit']==unit) & (hi_df['hs']==0)]['cycle'].values[0] for unit in test_units}
df_degpreds = df_preds[
    df_preds["time"] > df_preds["unit"].map(onsets)
]

In [21]:
metrics_df = build_metrics_table(df_degpreds)
metrics_df

   unit      RMSE      Score      PICP     PINAW
0    10  4.208273  21.818134  0.979167  0.505280
1    11  6.282833  29.091402  0.800000  0.456653
2    12  8.159644  42.164337  0.642857  0.240021
3    13  5.652154  26.453564  0.982759  0.345725
4    14  2.361232   7.632246  1.000000  0.443842
5    15  1.738704   4.262839  1.000000  0.408006

In [22]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      4.733807
Score    21.903754
PICP      0.900797
PINAW     0.399921
dtype: float64

## Benchmark Predictions

In [23]:
df_benchmark = df_preds[df_preds["true_rul"] <= 65]

In [24]:
metrics_df = build_metrics_table(df_benchmark)
metrics_df

   unit       RMSE       Score      PICP     PINAW
0    10   7.118600   62.346664  0.984848  0.456722
1    11  11.329123  122.468850  0.864407  0.465868
2    12  11.136711   82.984735  0.575758  0.256991
3    13   5.394846   28.110953  0.984848  0.354995
4    14   5.199822   28.151656  1.000000  0.408691
5    15   3.573932   18.620313  1.000000  0.420354

In [25]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      7.292172
Score    57.113862
PICP      0.901644
PINAW     0.393937
dtype: float64