# Results

In [1]:
from pathlib import Path
import pandas as pd
from src.helpers.metrics import  build_metrics_table

from experiment_config import DegModel,DATA_NAME,FILTERED_SUFFIX,PFNET_NAME

In [2]:
experiment_dir = Path('experiments')/DATA_NAME
pfnet_dir = experiment_dir/f'degradation{FILTERED_SUFFIX}'/DegModel.name()/'pf_performs'/PFNET_NAME

## Load Predictions

In [3]:
df_preds = pd.read_csv(pfnet_dir / "rul_test_predictions.csv")

## Full-life Predictions

In [4]:
metrics_df = build_metrics_table(df_preds)
metrics_df

   unit       RMSE       Score      PICP     PINAW
0    10   3.252757   14.742567  1.000000  0.570101
1    11   7.658138   35.412129  0.900000  0.527618
2    12  17.926186  286.935302  0.761905  0.314101
3    13   8.648080   57.367180  1.000000  0.445841
4    14   8.014643   51.517004  1.000000  0.436462
5    15   6.927180   32.647866  1.000000  0.482909

In [5]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      8.737831
Score    79.770341
PICP      0.943651
PINAW     0.462839
dtype: float64

## Degradation Predictions

In [6]:
hi_df = pd.read_csv(experiment_dir/f'hidata_test{FILTERED_SUFFIX}.csv')
test_units = hi_df['unit'].astype(int).unique().tolist()
onsets = {unit: hi_df[(hi_df['unit']==unit) & (hi_df['hs']==0)]['cycle'].values[0] for unit in test_units}
df_degpreds = df_preds[
    df_preds["time"] > df_preds["unit"].map(onsets)
]

In [7]:
metrics_df = build_metrics_table(df_degpreds)
metrics_df

   unit      RMSE      Score      PICP     PINAW
0    10  2.428702   7.996661  1.000000  0.564736
1    11  5.832685  19.862329  0.875000  0.501513
2    12  6.907412  32.236083  0.892857  0.261449
3    13  6.733289  33.383757  1.000000  0.426625
4    14  2.491993   9.649503  1.000000  0.317753
5    15  3.980916  10.651118  1.000000  0.394614

In [8]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      4.729166
Score    18.963242
PICP      0.961310
PINAW     0.411115
dtype: float64

## Benchmark Predictions

In [9]:
df_benchmark = df_preds[df_preds["true_rul"] <= 65]

In [10]:
metrics_df = build_metrics_table(df_benchmark)
metrics_df

   unit       RMSE       Score      PICP     PINAW
0    10   3.252757   14.742567  1.000000  0.570101
1    11   7.658138   35.412129  0.900000  0.527618
2    12  12.273255  104.483774  0.757576  0.278318
3    13   8.650334   55.500420  1.000000  0.445247
4    14   8.054163   51.078748  1.000000  0.438051
5    15   6.927180   32.647866  1.000000  0.482909

In [11]:
metrics_df.drop(columns=["unit"]).mean()

RMSE      7.802638
Score    48.977584
PICP      0.942929
PINAW     0.457041
dtype: float64